.details {
  margin: 0 0 0 50px;
  display: flex;
}

.app {
  width: 60%;
  border-right: 1px solid gray !important;
  padding-right: 50px;
}

.data {
  text-align: center;
  border-bottom: 5px solid gray;
  padding: 20px;
}